<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invitation to Join Oviedo Jeep Club</title>
</head>
<body>
    <h1>Invitation to Join Oviedo Jeep Club</h1>
    <p>Hello {{ recipient_name }},</p>
    <p>You have been invited to join the Oviedo Jeep Club family membership.</p>
    <p>Please click the link below to accept your invitation:</p>
    <p><a href="{{ invitation_link }}">Accept Invitation</a></p>
    <p>Thank you,</p>
    <p>The Oviedo Jeep Club Team</p>
</body>
</html>
